{
  "openapi": "3.0.0",
  "info": {
    "title": "SJM API Documentation",
    "version": "1.0.0",
    "description": "Enterprise-grade AI-powered talent matching system"
  },
  "servers": [
    {
      "url": "https://api.sjm.ai/v1",
      "description": "Production API"
    }
  ],
  "paths": {
    "/match": {
      "post": {
        "summary": "Match freelancers to project",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful matching results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MatchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/interview": {
      "post": {
        "summary": "Conduct AI interview",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InterviewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Interview results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterviewResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ProjectRequest": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "required_skills": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "budget_range": {
            "type": "array",
            "items": {
              "type": "number"
            }
          }
        }
      },
      "MatchResponse": {
        "type": "object",
        "properties": {
          "matches": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FreelancerMatch"
            }
          }
        }
      },
      "FreelancerMatch": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "score": {
            "type": "number"
          },
          "skills_match": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  }
}
